body {
    margin: -50px 0;
    font-family: "Nunito Sans", sans-serif;
}
body > header.navmain {
    min-width:1920px;
    background-color: #2f2f2f;
    color: #ffffff;
    max-height: 207px;
    padding: 20px 0 0 30px;
}
header > h1 {
    font-size: 72px;
}
h1,h2{
    font-family: "Signika", sans-serif;
    font-size: 72px;
}
header > div.sphere {
    background-color: #2f2f2f;
    padding: 100px;
    border-radius: 100%;
    position: absolute;
    top: 60px;
    z-index: -1;
}
header > nav > ul > li > a > span.currentLink{
    color: #ff6738;
}
header > nav > ul > div.dropdown > li > a > span.currentLink.dropbtn{
    color:#ff6738;
}
header > nav > ul > li,.dropdown {
    border: 1px solid #2f2f2f;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    position: relative;
    bottom: 120px;
    left: 480px;
    padding: 20px;
}
header > nav > ul > li > span.dropbtn, .navmain a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #2f2f2f;
    border-radius: 25px;
    padding: 25px;
}
.navmain > nav > ul > li > .dropdown, .navmain a:hover{
    border: 1px solid white;
    color: #ff6738;
    border-radius: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header > nav > ul > li > .navmain a:active {
    color: #ff6738;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: 0 0 3px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown > .dropdown-content{
    display:none;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:none;
  }
  .dropdown-content a:hover {
      border-radius:0;
      color:white;
      background-color:#3f3f3f;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top:80px;
    background-color: #FFF4F4;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .floatright{
      float:right;
  }
  .intro > img, footer > img{
      border-radius:40px;
  }
  .floatright > p, main p{
      font-size:36px;
      max-width:500px;
      text-align:start;
  }
  main > article > section > button, div.floatright button {
      position:relative;
      left:125px;
      border:none;
      border-radius:15px;
      padding:18px;
      background-color:#2f2f2f;
  }
  main > article > section > button > a, div.floatright a{
      text-decoration:none;
      color:#FF6738;
      font-size:24px;
      font-weight: bold;
  }
  main > article > section > button > a:hover, div.floatright a:hover{
      color:white;
  }
  main > article:nth-child(2n+0) {
    background: #FFF4F4;
  }
  main > article:nth-child(1n+0) {
      padding-top:80px;
      padding-bottom:100px;
  }
  .contact > form{
    max-width:1024px;
    margin-bottom:125px;
}
.contact > header > h2 {
    font-family: "Signika", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 162.4%;
    margin: 20px 0;
    position: relative;
    left: 15px;
}
.contact{
    position:relative;
    top:50px;
    left:150px;
}
.contact .orangebar {
    width:569px;
}
fieldset{
    border:none;
    padding:12px
}
.contact > form > fieldset > input, textarea{
    max-width: 975px;
    border-radius: 5px;
    font-size:24px;
    padding:10px;
    border: 1px solid #cccccc;
    resize: none;
}
.contact > form > fieldset > input::placeholder,textarea::placeholder{
    font-family: "Nunito Sans", sans-serif;
    color:#B7B7B7;
    text-transform:uppercase;
}
#nom {
    min-width:360px;
    text-transform:capitalize;
}
#prenom {
    margin-left:20px;
    min-width: 560px;
    text-transform:capitalize;
}
#courriel,#telephone {
    min-width: 656px;
}
#comment{
    min-width:975px;
    font-family: "Nunito Sans", sans-serif;
}
.contact > form > input.valid {
    float:right;
    position:relative;
    right:10px;
    margin-top:15px;
    border:none;
    font-weight:bold;
    font-size:24px;
    border-radius:5px;
    background-color: #FF6738;
    color: #ffffff;
    width:310px;
    height:86px;
}
.contact > form > input.valid:hover{
    border: 1.5px solid black;
    cursor: pointer;
}
.radio-toolbar > h4{
    font-size:30px;
    font-weight:800;
}
.radio-toolbar {
    margin: 100px 0 0 165px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      color:white;
      font-weight:900;
      background-color: #FFA938;
      padding: 20px 20px;
      font-size: 24px;
      margin-right:60px;
      border: 4px solid transparent;
  }
  
  .radio-toolbar label:hover {
    border: 4px solid #5B7488;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #e48b17;
      border: 4px solid #5B7488;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  footer {
      clear:both;
      color:white;
      background-color:#2f2f2f;
      width:100%;
      padding-bottom:10px;
  }
  footer > .floatright > h2{
      margin:50px 150px 20px 0;
  }
  footer > .floatright > a > img{
      padding:10px;
  }
  #infolettre{
      padding:50px 0 50px 50px;
  }
   #infocourriel{
      padding:10px;
      width:370px;
      font-size:24px;
  }
.validinfo{
    position:relative;
    left:125px;
    background-color:#FFA938;
    border-radius:25px;
    color:white;
    font-size:36px;
    padding:8px;
}
.validinfo:hover{
    color:#FF6738;
    border-color:black;
    cursor: pointer;
}
/* Section Grid + Service */

/*SEction flexbox Nos Realisations */
.box-text, .box-image {
    padding:0 50px 50px 50px;
}
.box-image > img {
    border-radius:55px;
}
.flexbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1920px;
    margin: 0 auto;
}

.box-text > button {
      position:relative;
      left:125px;
      border:none;
      border-radius:15px;
      padding:18px;
      background-color:#2f2f2f;
}
.box-text > button > a{
      text-decoration:none;
      color:#FF6738;
      font-size:24px;
      font-weight: bold;
  }


/*Section Pricing CArd */

.pricing-table{
    padding-left:20px;
    display: flex;
    flex-wrap: wrap;
}

.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: rgba(196, 196, 196, 0.5);
    margin: 20px 10px;
    text-align: center;
    overflow: hidden;
}

.pricing-card-header{
    background-color: #FF6738;
    display: inline-block;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 48px;
    font-weight: 600;
}


.panier-btn{
display: inline-block;
text-decoration: none;
margin-bottom: 20px;
margin-top: 20px;
border: 2px solid #FF6738;
color: #FF6738;
padding: 18px 40px;
border-radius: 8px;
font-weight: 500;
transition: .3s linear;
}

.panier-btn:hover{
    background-color: #FF6738;
    color: #ffffff;
}
/* ++++++++++++SLIDESHOW+++++++++++ */
.wrapper-slideshow{
    padding:50px 100px;
    background-color:#e48b17;
    border-radius:25px;
    position:relative;
    top: 50%;
    width: 1920px;
    margin: 0 auto;
}
.wrapper-slideshow > h1 {
    margin-top:0;
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    font-size: 10px;

}

.middle{
    position:relative;
    top: 50%;
    width: 1024px;
    margin: 0 auto;

}

.navigation{
    position: relative;
    bottom: 30px;
    left: 78%;
    transform: translateX(-50%);
    display: flex;
}

.slideshow-text{
  max-width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-200%);
  background-color: rgba(0,0,0,.6);
  color: #fff;
  padding: 1rem 2rem;
  

}

.bar{
   width: 50px;
   height: 10px;
   border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;

}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;

}

#r2:checked ~ .s1{
    margin-left: -20%;
    
}

#r3:checked ~ .s1{
    margin-left: -40%;
    
}

#r4:checked ~ .s1{
    margin-left: -60%;
    
}

#r5:checked ~ .s1{
    margin-left: -80%;
    
}
#r6:checked ~ .s2{
    margin-left: 0;

}

#r7:checked ~ .s2{
    margin-left: -20%;
    
}

#r8:checked ~ .s2{
    margin-left: -40%;
    
}

#r9:checked ~ .s2{
    margin-left: -60%;
    
}

#r10:checked ~ .s2{
    margin-left: -80%;
    
}
#r11:checked ~ .s2{
    margin-left: -80%;
    
}
@media screen and (max-width:1100px){
    .pricing-card {
        flex: 50%;
    }
}
@media screen and (max-width:1600px){
    .box-text {
        margin-left:260px;
    }
}